// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

@import 'map';

/* Importing Google fonts */

@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/* Importing layouts */


body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  background: #f4f4f4;
}

p {
  font-weight: lighter;
}

h1,
h2,
h3 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

h3 {
  font-size: 23px;
}

.padded {
  padding: 30px 0;
}

.content {
  display: flex;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
}

.text-center {
  text-align: center;
}

#map {
  flex: 0 0 450px;
  position: sticky !important;
  top: 0 !important;
}
