<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1469788700396-33787e74fac5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ab90059ac1b7527ca8eec660c624a307&auto=format&fit=crop&w=2852&q=80')">
  <div class="banner-content">
    <h1>Welcome to Pet Sitting</h1>
    <p>Find a pet sitter close to you</p>
    <%= link_to "Woof now", hosts_path, class: "btn btn-primary"%>
  </div>
</div>





