.block {
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  margin: 10px;
  -webkit-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
  -moz-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
  box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
  border-radius: 3px;
}

.booking {
  -webkit-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
  -moz-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
  box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid rgba(110, 187, 133, 0.664);
}

.hosting {
  -webkit-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
  -moz-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
  box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ffb74d;
}

.rounded {
  border-radius: 10px;
}

.profile-block {
  text-align: center;
}

.profile-title {
  padding-top: 10px;
}

.profile-email {
  color: grey;
  opacity: 0.8;
}

.profile-status {
  color: grey;
  opacity: 0.8;
}

.profile-block {
  flex: 0 0 450px;
  position: sticky !important;
  top: 0 !important;
}
