
.host_details {
  background-color: #F7CEA9;
  padding: 20px 20px;
  box-shadow: 1px 1px 3px #f0f0f0;
  text-align: center;
  justify-content: center;
  -webkit-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
 -moz-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
 box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
 border-radius: 3px;
}

#host_image {
  padding: 2px 2px;
  -webkit-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
  -moz-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
  box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
  border-radius: 10px;
  border-style: solid;
    border-width: 1px;
    border-color: #B9C1C4;
    background: linear-gradient(to bottom right, #E5EEF7, #3B4853);
}

li {
  list-style-type: none;
}

.btn-primary_book_me {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

     background-color: #1C6E8C;
     color: white;
}

.btn-primary_book_me:hover {
      background-color: #1C6E8C;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-primary_book_me:active {
    position:relative;
    top:1px;
}

.btn-primary_host {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: right;
     margin-right: 15px;
     background-color: #1C6E8C;
     color: white;
}

.btn-primary_host:hover {
      background-color: #1C6E8C;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-primary_host:active {
    position:relative;
    top:1px;
}

.map_box{
    border-color: #B9C1C4;
    border-radius: 3px;
  border-style: solid;
    border-width: 1px;
    background-color: #F7CEA9;
    -webkit-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
 -moz-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
 box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
 border-radius: 3px;
align-items: center;
padding: 10px;
margin: 20px;
}

.circle_text {
display: grid;
align-items: center;
height: 200px; /*change this and the width
for the size of your initial circle*/
width: 200px;
text-align: center;
vertical-align: middle;
border-radius: 50%;
/*make it pretty*/
background: linear-gradient(to bottom right, #E5EEF7, #3B4853);
color: #fff;
font-weight: bold;
 -webkit-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
 -moz-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
 box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);

}

.hoster_descrip{
  justify-content: center;
  align-items: center;
}



repeat {
    display:block;
}

repeat[n="1"]:before {
   content: "★";
}

repeat[n="2"]:before {
   content: "★ ★";
}

repeat[n="3"]:before {
   content: "★ ★ ★";
}

repeat[n="4"]:before {
   content: "★ ★ ★ ★";
}

repeat[n="5"]:before {
   content: "★ ★ ★ ★ ★";
}
