.greeting {
  display: flex;
}

.main-container {
  display: flex;
  background-color: gray;
}


.container {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 2fr 2fr 1fr 1fr;

}

.row_email {
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
  justify-self: center;
  align-self: center;
}

.row_phone {
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
  justify-self: center;
  align-self: center;
}

.name_address {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  justify-self: center;
  align-self: center;
}

.row_description {
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  justify-self: center;
  align-self: center;
}

.row_price {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-self: end;
  align-self: center;
}

.row_rating {
  grid-row: 3 / span 1;
  grid-column: 2 / span 2;
  justify-self: center;
  align-self: center;
}

.row_pet {
  grid-row: 3 / span 2;
  grid-column: 1 / span 1;
  justify-self: end;
  align-self: center;
}

.name_address {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  justify-self: center;
  align-self: center;
}
